@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .navbar-link {
    @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left;
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1f201d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d2018;
}

.max-w-app {
  max-width: 1620px;
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  margin: 0 auto;
}

.test1234:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
      180deg,
      transparent,
      transparent 40%,
      #000 calc(100% - 110px),
      #000
    ),
    linear-gradient(
      90deg,
      #000,
      #000 calc(50% - 570px),
      transparent calc(50% - 420px),
      transparent calc(50% + 420px),
      #000 calc(50% + 570px),
      #000
    );
}

.header_table tr th {
  border-color: transparent;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.header_table tr td {
  padding: 2rem 0;
  border-color: transparent;
  border-bottom: 1px solid grey;
}

.header_table .td_teamName {
  text-align: left;
}

.header_table tr:last-child td {
  border-bottom: none;
}

.header_table .table_data {
  padding: 0 5px;
}

.shadow-box {
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 2px 5px rgba(0, 0, 0, 0.2);
}

main:after,
main:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-image: url("../public/bg_left.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
  z-index: -1;
}

main:after {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

main {
  /* background: rgba(23, 40, 40, 0.71); */
  border-top: solid 15px #000;
  background-color: rgb(22 34 34 / 85%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-enter {
  animation: fadeIn 0.5s ease-out;
}

.article_mainImage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(23, 40, 40, 0.55);
}

.article_secondImage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgb(130 77 3 / 35%);
}

.article_mainImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(23, 40, 40, 0);
  background: -moz-linear-gradient(
    top,
    rgba(23, 40, 40, 0) 0,
    rgba(23, 40, 40, 0) 10%,
    #172828 90%,
    #172828 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(23, 40, 40, 0)),
    color-stop(10%, rgba(23, 40, 40, 0)),
    color-stop(90%, #172828),
    color-stop(100%, #172828)
  );
  background: -webkit-linear-gradient(
    top,
    rgba(23, 40, 40, 0) 0,
    rgba(23, 40, 40, 0) 10%,
    #172828 90%,
    #172828 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(23, 40, 40, 0) 0,
    rgba(23, 40, 40, 0) 10%,
    #172828 90%,
    #172828 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(23, 40, 40, 0) 0,
    rgba(23, 40, 40, 0) 10%,
    #172828 90%,
    #172828 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(23, 40, 40, 0) 0,
    rgba(23, 40, 40, 0) 10%,
    #172828 90%,
    #172828 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#172828', endColorstr='#172828', GradientType=0);
}

.articleLink,
.articleImage {
  overflow: hidden;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.articleLink:hover .articleImage {
  webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.fbPost:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(23, 40, 40, 0.55);
}

.w-inherit {
  width: inherit;
}
